<ion-header>
  <ion-toolbar>
    <ion-title>datosUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Nombre: Joan</p>
<p>Email: joan@gmail.com</p>


<!--AUNQUE VAAMOS A "LISTAR", LISTAR ES MI PAGINA DE INSERTAR-->
<div style="margin-top: -20%;">
  <ion-button href="/listar" expand="full" routerDirection="forward" color="light" style="margin-top: 25%;">Insertar productos</ion-button>
</div>

<div style="margin-top: -20%;">
  <ion-button href="/productos-usuario" expand="full" routerDirection="forward" color="light" style="margin-top: 25%;">Listar mis productos</ion-button>
</div>
</ion-content>
