<ion-header>
  <ion-toolbar>
    <img src="../../assets/logo.png" style="width: 30%; margin-left: 35%;">
  </ion-toolbar>
</ion-header>


<ion-content>

  <!--BOTON DE INSERTAR PRODUCTO-->
  <div>
    <ion-button href="/home" expand="full" routerDirection="forward" color="light" style="margin-top: 25%;">Listar Productos</ion-button>
  </div>


  <!--BOTON DE LISTAR PRODUCTOS
  <div style="margin-top: -20%;">
    <ion-button href="/listar" expand="full" routerDirection="forward" color="light" style="margin-top: 25%;">Introducir productos</ion-button>
  </div>-->

  <!--BOTON DE LISTAR PRODUCTOS-->
  <div style="margin-top: -20%;">
    <ion-button href="/login" expand="full" routerDirection="forward" color="light" style="margin-top: 25%;">Login</ion-button>
  </div>

</ion-content>
